{% load sorting_extras %}

{% for prescription in elderly.prescribed_medicine.all|order_by:"-startDate" %}
    <tr>
        <td>{{ prescription.medicine.name }}</td>
        <td>{{ prescription.startDate }}</td>
        <td>{{ prescription.endDate }}</td>
        <td>{{ prescription.frequency }}</td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-elderly-prescription"
                    data-url="{% url 'elderly_delete_prescription' elderly.id prescription.id %}">
                <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">Nenhuma prescrição cadastrada para o idoso</td>
    </tr>
{% endfor %}
