{% load sorting_extras %}

{% for medical_appointment in medical_appointments|order_by:"-date" %}
    <tr>
        <td>{{ medical_appointment.date }}</td>
        <td>{{ medical_appointment.doctor.name }}</td>
        <td>{{ medical_appointment.doctor.specialty }}</td>
        <td>{{ medical_appointment.description }}</td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-elderly-medical_appointment"
                    data-url="{% url 'elderly_delete_medical_appointment' elderly.id medical_appointment.id %}">
                <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">Nenhuma consulta médica cadastrada para o idoso</td>
    </tr>
{% endfor %}
