{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'allergies/js/allergies.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Alergias</h1>

    <p>
        <button type="button" class="btn btn-primary js-create-allergy" data-url="{% url 'allergy_create' %}">
            <span class="glyphicon glyphicon-plus"></span>
            Criar alergia
        </button>
    </p>

    <table class="table" id="allergy-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Sintomas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include 'allergies/includes/partial_allergy_list.html' %}
        </tbody>
    </table>

    <div class="modal fade" id="modal-allergy">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}
