{% for meal in elderly.meals.all|order_by:"-date" %}
    <tr>
        <td>{{ meal.date }}</td>
        <td>{{ meal.get_meal_type_display }}</td>
        <td>
            {% for food in meal.foods.all %}
                {{ food.name }},
            {% endfor %}
        </td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-elderly-meal"
                    data-url="{% url 'elderly_delete_meal' elderly.id meal.id %}">
                <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">Nenhuma refeição cadastrada para o idoso</td>
    </tr>
{% endfor %}
