{% load sorting_extras %}

{% for medicine in elderly.medicine.all|order_by:"-date" %}
    <tr>
        <td>{{ medicine.date }}</td>
        <td>{{ medicine.medicine.name }}</td>
        <td>{{ medicine.amount }}</td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-elderly-medicine"
                    data-url="{% url 'elderly_delete_medicine' elderly.id medicine.id %}">
                <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">Nenhuma injestão de medicamento cadastrada para o idoso</td>
    </tr>
{% endfor %}
