{% for doctor in doctors %}
  <tr>
    <td>{{ doctor.id }}</td>
    <td>{{ doctor.name }}</td>
    <td>{{ doctor.specialty }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-doctor"
              data-url="{% url 'doctor_update' doctor.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-doctor"
              data-url="{% url 'doctor_delete' doctor.id %}">
        <span class="glyphicon glyphicon-trash"></span> Remover
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">Nenhum médico cadastrado</td>
  </tr>
{% endfor %}