{% for elderly in elderlies %}
    <tr>
        <td>{{ elderly.id }}</td>
        <td><a href="{% url 'elderly_details' elderly.id %}">{{ elderly.name }}</a></td>
        <td>{{ elderly.birth_date }}</td>
        <td>{% if elderly.caretaker %}{{ elderly.caretaker.name }}{% else %}Nenhum{% endif %}</td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-warning btn-sm js-update-elderly"
                    data-url="{% url 'elderly_update' elderly.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-elderly"
                    data-url="{% url 'elderly_delete' elderly.id %}">
                <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">Nenhum idoso cadastrado</td>
    </tr>
{% endfor %}
